<h1>Welcome to the tweet</h1>
<h1 id="hello">Hello World</h1>



<%= form_with(model: @tweet, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="text-center">
    <div class="field">
      <%= f.text_field :title, placeholder: "タイトルを入力してください" %>
    </div>
    <div>
      <%= f.label "0/1000", for: "md-textarea", id: "tweet-text-count" %>
    </div>
    <div class="field">
    <%= f.text_area :text, placeholder: "本文を入力してください" %>
    </div>
  </div>
  <div class="text-center">
    <div class="center">
      <%= f.label :image, "画像" , style: "margin-top: 50px"%>
    </div>
    <label>
      <%= image_tag "camera.jpeg"%>
      <%= f.file_field :image, class: "image", style: "display:none;", id: "file" %>
    </label>
    <br>
    <div class='tweet-form--tags'>タグを追加</div>
    <div>
      <ul id='tweet-tags'></ul>
    </div>
    <div class="center">
      <%= f.submit "投稿する", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>

