<div class="tweet-show__title">
  <div class="tweet-show__title__top">
    <%= link_to  user_path(@tweet.user.id), class: "tweet-show__title__top__user" do %>
      <%= image_tag "#{@tweet.user.avatar}", class: "avatar" %>
      <%= @tweet.user.name%>
    <% end %>

    <div class="tweet-show__title__top--edit">
      <% if current_user_has?(@tweet) %>
        <%= link_to '編集', edit_tweet_path(@tweet.id),data: {"turbolinks" => false} %>
        <%= link_to '削除', tweet_path(@tweet.id), method: :delete, data: { confirm: '削除してよろしいですか？' } %>
      <% end %>
    </div>

  </div>
  <h1 class="tweet-show__title--body">
    <%= @tweet.title %>
  </h1>
  <div class="tweet-show__title--date">
    <%= @tweet.updated_at.strftime("%Y-%m-%d %H:%M") %>
  </div>
  <div class="tweet-show__content">
    <div class="tweet-show__content--text">
      <span>
        <%= @tweet.text %>
        <% if @tweet.image? %>
          <div class="tweet-show__content--imageBox">
            <%= image_tag "#{@tweet.image}", class: "tweet-show__content--image" %>
          </div>
        <% end %>
      </span>
      <%= render "comments/index" %>
    </div>
    <div class="tweet-show__content--tags">
      <%= render '/tweets/tag_list', tag_list: @tweet.tag_list %>
    </div>
  </div>
  <div class="like">
  <div id="like_<%= @tweet.id %>">
    <%= render 'likes/like', tweet: @tweet %>
  </div>
</div>

</div>