<% if logged_in? && !current_user?(tweet.user)%>
  <% if tweet.like_user(current_user.id) %>
    <%= link_to tweet_like_path(tweet.likes, tweet_id: tweet.id), method: :delete, remote: true do %>
      <h1>いいね済み</h1>
        <%= tweet.likes.count %>
      
    <% end %>
  <% else %>
    <%= link_to tweet_likes_path(tweet.id), method: :post, remote: true do %>
      <h1>いいねする</h1>
        <%= tweet.likes.count %>
    <% end %>
  <% end %>
<% else %>
    <%= tweet.likes.count %>
<% end %>

