<h1>Sign up</h1>

<div class="row">
  
    <%= form_with(model: @user, local: true) do |f| %>
      <div class="text-center">
      <%= f.label :ニックネーム %>
      </div>
      <div class="center">
      <%= f.text_field :name %>
      </div>
      
      <div class="text-center">
      <%= f.label :メールアドレス %>
      </div>
      <div class="center">
      <%= f.email_field :email %>
      </div>

      <div class="text-center">
      <%= f.label :パスワード %>
      </div>
      <div class="center">
      <%= f.password_field :password %> 
      </div>

      <div class="text-center">
      <%= f.label :password_confirmation, "パスワード(再入力)" %>
      </div>
      <div class="center">
      <%= f.password_field :password_confirmation %>
      </div>

      <div class="btn_wrap">
      <%= f.submit "登録する", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>