<div class="wrapper">
  <div class="login">
    <div class="login__field">
      <div class="center">
        <%= render 'sessions/testuser'%>
      </div>
    </div>
    <%= form_with(model: @user, local: true) do |f| %>
      <div class="center">
        <%= render 'shared/error_messages', object: f.object %>
      </div>
      <div class="login__title">
        新規登録
      </div>
      <%= render "users/form", f: f %>
      <div class="login__field">
        <div class="center">
          <%= f.submit "登録する", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>

  <script>
    $(function () {
      $fileField = $('#file')

      $($fileField).on('change', $fileField, function (e) {
        file = e.target.files[0]
        reader = new FileReader(),
          $preview = $("#img_field");

        reader.onload = (function (file) {
          return function (e) {
            $preview.empty();
            $preview.append($('<img>').attr({
              src: e.target.result,
              class: "avatar",
              title: file.name
            }));
          };
        })(file);
        reader.readAsDataURL(file);
      });
    });
  </script>

</div>