<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "MyTeacher", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "先生一覧", "#" %></li>
            <% if logged_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  ユーザー名 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "マイページ", current_user %></li>
                  <li><%= link_to "ユーザー編集", edit_user_path(current_user) %></li>
                  <li><%= link_to "メッセージ", '#' %></li>
                  <li><%= link_to "タイムライン", '#' %></li>
                  <li><%= link_to "ユーザー一覧", users_path %></li>
                  <li><%= link_to "人気投稿", '#' %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "ログアウト", logout_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "ログイン", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
      <div class="header-bottom">
      <ul class="header-bottom__list">
        <% @tags = ["英会話","TOEIC","中国語","宅建","簿記","FP","危険物取扱者","フランス後"] %>
        <% @tags.each do |tag| %>
          <li class="header-bottom__list__item">
            <%= link_to tag, tweets_path(tag_name: tag), class: "header-bottom__list--name" %>
          </li>
        <% end %>
        <ul class="header-bottom__list__tags">
          <%= link_to "全てのタグ", tags_tweets_path, class: ".header-bottom__list--name" %>
        </ul>
      </ul>
    </div>
</header>