<!DOCTYPE html>
<html>
  <head>
    <title>Myteacher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/flash'%>  
    <%= render 'layouts/header'%>  
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
